@charset "UTF-8";

:root {
    --cor1: #215942;
    --cor2: #351d6b;
    --cor3: #b22424;
    --cor4: #ffffff;
    --cor5: #000000;
    --cor6: #388f69;
}

@font-face {
    font-family: "Alice";
    src: url("../fontes/Alice_in_Wonderland_3.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: rgba(255, 255, 255, 0.767);
    width: 90vw;
    max-width: 1000px;
    min-height: 86vh;   
    margin: auto;
    color: var(--cor5);
    padding-bottom: 100px;
}

.corpo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

.corpo > div {
    flex: 1 1 150px;
}

.titulo {
    font-family: Alice, Cursive;
    text-align: center;
    font-size: 60px;
}

.livros {
    width: 150px;
    height: 240px;
    overflow-wrap: break-word;
    max-width: 200px;
    margin-bottom: 20px;
}

.capa {
    height: 200px;
    width: 150px;
    max-width: 100%;
    display: block;
}

.texto {
    font-size: 13px;
    text-decoration: none;
    font-family: Montsserat, sans-serif;
    margin-bottom: 8vh;
}
